.simple-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background: transparent; /* sin fondo */
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(0);
  opacity: 1;
}

.simple-header:not(.visible) {
  transform: translateY(-100%);
  opacity: 0;
}

/* FIGURA CON LOGO */
.logo-banner {
  width: 140px;
  height: 180px;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}

.logo-banner img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

/* LINK SIMPLE A LERRETI */
.header-right .volver-link {
  color: white;               /* texto blanco por defecto */
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 15rem;
}

.header-right .volver-link:hover {
  color: rgba(0,0,0,0.2); /* dorado en hover (puedes cambiarlo a azul u otro) */
}
