.BaseHead-herramientas {
    position: relative;
    background-image: url("/images/contable.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.BaseHead-herramientas::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.BaseHead-herramientas h1 {
    position: relative;
    z-index: 2;
    font-size: 60px;
}

.barra {
    position: absolute;
    bottom: 0;
    background-color: #000080;
    width: 100%;
    left: 0;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2);
    display: flex;
    color: white;
    align-items: center;
    z-index: 2;
    justify-content: center;
    gap: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.BaseHead-herramientas .barra a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.BaseHead-herramientas .barra a.active {
    background-color: rgba(0, 0, 0, 0.3);
}


/* herramientas.css */

.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scroll-top-btn:hover {
  background-color: #005fcc;
}
