.imcp {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.imcp-fondo {
  background-color: #f1f1f1;
}

.imcp-titulo {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  border-bottom: 2px solid #000080;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #000080;
}

.imcp-texto {
  margin-bottom: 50px;
}

.imcp-descripcion {
  font-size: 1.3rem;
  line-height: 1.7;
  color: #000080;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

.imcp-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
}

.imcp-contenedor.invertido {
  flex-direction: row-reverse;
}


.imcp-imagen {
  flex: 1 1 45%;
}

.imcp-imagen img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.imcp-info {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imcp-subtitulo {
  color: #4e7b41;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.imcp-subtitulo-1 {
  color: #e43d41;
  font-weight: 600;
  font-size: 2.5rem;
}


.imcp-subtitulo-2 {
  color: #000080;
  font-weight: 600;
  font-size: 2.5rem;
}


.imcp-subtitulo-3 {
  color: #000080;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
}


.imcp-info p {
  font-size: 1.3rem;
  color: #000080;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

@media (max-width: 850px) {
  .imcp-contenedor 
  .imcp-contenedor.invertido{
    flex-direction: column;
    text-align: center;
  }

  .imcp-info {
    order: 2;
  }

  .imcp-imagen {
    order: 1;
  }
}


.imcp-final-imagen img {
  margin-top: 50px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 6px 25px rgba(0,0,0,0.1);
}

.imcp-final-texto {
  margin-top: 25px;
  max-width: 1200px;         /* Igual que el contenedor principal */
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  line-height: 2;
  color: #000080;
  font-weight: 500;
  text-align: justify;       /* Justifica el texto */
  padding: 0 20px;           /* Espaciado lateral */
}
