---
import '../style/Base.css';
---

<div  class="BaseHead-history">
  <h1>NUESTRA HISTORIA</h1>
    <div class="barra">
        <a href="/historia">Nuestra Historia</a>
        <a href="/somos">Quiénes Somos</a>
        <a href="/profesionalizacion">Profesionalización</a>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const links = document.querySelectorAll('.BaseHead-history .barra a');
  const currentPath = window.location.pathname; // ruta actual de la página

  links.forEach(link => {
    const href = link.getAttribute('href');

    // Comparar ruta del link con la ruta actual
    if (href === currentPath) {
      link.classList.add('active');
    }
  });
});
</script>
