---
import '../style/global.css';
---


<div class="footer"> 
    <div class="copyright">
        <img src="/images/Copyright-blanco.png" alt="Logo copyright" width="15"/>
        <p>Copyright - Lerreti.</p>
    </div>



    <nav>
        <ul class="menu">
            <li>
                <a href="https://www.facebook.com/lerreti.sa.de.cv"><img src="/images/Facebook.png" alt="Facebook" width="30"/></a>
            </li>
            <li>
                <a href="https://www.instagram.com/lerretisadecv/"><img src="/images/Instagram.png" alt="Instagram" width="40"/></a>
            </li>
        </ul>
    </nav>
</div>