---
import '../style/formacion.css';
import '../style/animaciones.css';
---

<section class="formacion">
    <div id="formacion" class="formacion-bloque">
        <!-- Título centrado -->
        <h1 class="formacion-titulo-cuadro aparecer">FORMACIÓN DE PERSONAL</h1>

        <!-- Logo grande a la derecha -->
        <div class="formacion-logo rebote">
            <img src="/otros/FORMACION-LOGO.png" alt="Logo Formación">
        </div>

        <!-- Texto debajo del logo -->
        <div class="formacion-texto aparecer">
            <p class="formacion-descripcion">
                <strong>La formación de personal</strong>
                mediante la impartición de cursos y seminarios especializados, constituye un eje estratégico de LERRETI,
                destinado a fortalecer las capacidades de los distintos sectores de la sociedad y a ofrecer soluciones
                efectivas a las necesidades y desafíos del entorno.
            </p>
        </div>

        <!-- Imagen debajo de todo -->
        <div class="formacion-imagen rebote">
            <img src="/otros/CAPACITACIÓN.jpg" alt="Capacitación">
        </div>
    </div>
</section>
