---
import '../style/header-simple.css';
import { TITLE } from '../consts';
---

<header class="simple-header visible">
  <div class="header-left">
    <div class="logo-banner">
      <a href="/"><img src={TITLE} alt="Logo LERRETI" /></a>
    </div>
  </div>

  <div class="header-right">
    <a href="/" class="volver-link">Ir a LERRETI ></a>
  </div>
</header>