---
import '../style/soporte.css';
import '../style/animaciones.css';
---

<section class="soporte">
    <div class="soporte-bloque">
        
        <h1 class="soporte-titulo-cuadro aparecer">SOPORTE TÉCNICO</h1>

        <!-- Texto debajo del logo -->
        <div class="soporte-texto aparecer">
            <p class="formacion-descripcion">
                Este
                <strong>servicio</strong>
                consiste en la asistencia administrativa y soporte informático remoto
                en relación con los sistemas comercializados por <strong>LERRETI</strong> , dentro de los cuales se encuentran:
            </p>
        </div>

        <!-- Imagen debajo de todo -->
        <div class="soporte-imagen rebote">
            <img src="/otros/CRONOGRAMA.jpg" alt="tecnico">
        </div>
    </div>
</section>


<script>
    const elementos = document.querySelectorAll('.aparecer, .rebote');

    const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
        entry.target.classList.add('visible');
        }
    });
    }, { threshold: 0.2 });

    elementos.forEach(el => observer.observe(el));
</script>


